/****************************
debug
****************************/
*{
    outline: solid 1px red;
}
/*************************************************************************
general
***********************************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(163, 163, 163);
}
img{
    max-width:100%;
}
body{
    background-color:rgb(20, 25, 34);
    font-family: 'Montserrat', sans-serif;
    display: flex;
}
/*************************************************************************
intera parte a sinistra
***********************************************************************/
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20vh;
    background-color: rgb(0, 0, 0);
    height: calc(100vh - 100px);
    position: relative;
  }
  li{
    list-style: none;
    font-size: 1.5rem;
  }
  span{
    height: 100px;
  }
  .fa-solid{
    padding-left:10px ;
    height: 100%;
  }
  h2{
    color:white;
    font-size: 1rem;
    padding: 10px;
  }
  .raw-1-nav{
    width: 50px;
    height: 50px;
    background-color: rgb(163, 163, 163);
    color: black;
    font-size: 40px;
    text-align: center;
  }
  .all-playlist{
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  h3{
    align-items: center;
    justify-items: center;
    font-size: 0.9rem;
    padding-left: 10px;
  }
  .new-playlist li{
    font-size: 15px;
    padding: 10px;
  }
  .nav-bot{
    position: absolute;
    bottom: 0;
    margin-left: 15px;
  }
  hr{
    margin: 10px;
  }
/*************************************************************************
header
***********************************************************************/
header{
    position: fixed;
    left: 20vh;
    right: 0;
    top: 0;
    width: calc(100% - 20vh);
    height: 70px;
    background-color: rgb(8, 11, 18);
}
.logo{
    padding: 15px;
}
.header-top{
    background-color: rgb(8, 11, 18);
    display: flex;
    justify-content: flex-end;
}
.upgrade{
    background-color:rgb(8, 11, 18) ;
    height: 50px;
    width: 200px;
    border-radius: 40px;
    margin: 10px 20px;
    border: solid 1px white;
}
/*************************************************************************
main
***********************************************************************/
main{
    width: calc(100% - 20vh);
    margin-top: 70px;
}                      
a{
    width: 100%;
    text-decoration: none;
  }
.main-top{
    display: flex;
    width: 65%;
    margin: 0 auto;
}
.recently-played h2{
    font-size: 2rem;
}
/*************************************************************************
footer
***********************************************************************/
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: space-between;
}
.my-song{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}
.img-my-song{
    width: 50px;
    height: 50px;
}
.title-my-song{
    color:white;
    padding-left: 10px;
}
.author-my-song{
    font-size: 0.7rem;
}
.fa-regular,
.fa-solid{
    font-size: 1.5rem;
    padding-left: 20px;
}
.player-song{
    margin-top: 20px;
}
.player-top{
    display: flex;
    justify-content: center;
}
.player-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.time-song{
    height: 5px;
    width: 400px;
    border-radius: 5px;
    border: solid 1px rgb(90, 90, 90);
    background-color:rgb(90, 90, 90) ;
    margin: 15px;
}
.song-listen{
    background-color:white;
    border-radius: 4px;
    width: 20%;
    height: 4px;
}
.volume{
    display: flex;
    align-items: center;
    align-self: center;
}
.volume .time-song{
    width: 100px;
}
.volume > .fa-solid{
    font-size: 1rem;
}